* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
}
.logo-text {
  font-size: 24px;
  color: #f9faf8;
}
.header-link {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 16px 36px;
  align-items: center;
}

.header-link ul {
  display: flex;
  gap: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  flex: 1;
}

.header .hero {
  display: flex;
  justify-content: space-between;
  padding: 0 36px;
  flex: 1;
  gap: 20px;
  align-items: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50%;
}
.hero-text h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text button {
  background-color: #3882f6;
  padding: 10px;
  color: #f9faf8;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  flex-shrink: 0;
  width: 100px;
  margin-top: 5px;
}

.hero-image {
  min-width: 300px;
  min-height: 150px;
  width: 50%;
  height: 60%;
}
